// ============================================================================
// BactScout Nextflow Configuration
// ============================================================================

docker {
    enabled = true
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}

// Enable container support
profiles {
    docker {
        docker {
            enabled = true
            fixOwnership = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }
}
